dj-database-url==0.4.2
Django==1.11.7
django-extensions==1.7.6
django-seed==0.1.7
django-webpack-loader==0.5.0
djangorestframework==3.7.3
Faker==0.7.7
ipaddress==1.0.18
psycopg2==2.7.3.2
pytz==2017.3
bcrypt==3.1.2
whitenoise==3.3.1
PyJWT==1.4.2
gunicorn==19.6.0
python-dateutil==2.6.0
